{
    "reload_style_on_change": true,
    "layer": "top",
    {{ if eq .waybar.orientation "horizontal" }}
    "position": "top",
    {{ else }}
    "position": "right",
    "width": 40,
    "margin-top": 10,
    "margin-bottom": 10,
    {{ end }}
    
    "modules-left": [
        "custom/update",
        "group/system",
        "hyprland/language",
        "hyprland/window"
    ],
    
    "modules-center": [
        "hyprland/workspaces"
    ],
    
    "modules-right": [
        "tray",
        {{ if eq .machine "laptop" }}
        "battery",
        {{ end }}
        "clock"
    ],
    
    "group/system": {
        "orientation": "inherit",
        "modules": [
            "network",
            "cpu",
            "memory",
            "pulseaudio"
        ]
    },
    
    "custom/update": {
        "format": "",
        "exec": "omarchy-update-available",
        "on-click": "omarchy-launch-floating-terminal-with-presentation omarchy-update",
        "tooltip-format": "Omarchy update available",
        "signal": 7,
        "interval": 21600
    },
    "hyprland/workspaces": {
        "format": "{icon}",
        "format-icons": {
        {{ if .monitor.internal }}
            "active": "■",
            "default": "□"
        {{ else }}
            "active": "●",
            "default": "○"
        {{ end }}
        },
        "persistent-workspaces": {
            "*": 5
        },
        "on-click": "activate"
    },
    "hyprland/language": {
        "format": "{}",
        "format-en": "EN",
        "format-sv": "SV"
    },
    "hyprland/window": {
        "format": "",
        "icon": true,
        "icon-size": 20
    },
    "clock": {
        {{ if eq .waybar.orientation "horizontal" }}
        "format": "{:%H:%M}",
        "format-alt": "{:%m:%d}",
        {{ else }}
        "format": "{:%H\n%M}",
        "format-alt": "{:%m\n%d}",
        {{ end }}
        "on-click": "omarchy-launch-or-focus-webapp 'calendar' 'https://calendar.google.com'",
        "tooltip-format": "<tt><small>{calendar}</small></tt>",
        "calendar": {
            "mode": "month",
            "format": {
                "months": "<span color='#ffead3'><b>{}</b></span>",
                "days": "<span color='#ecc6d9'><b>{}</b></span>",
                "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
                "today": "<span color='#ff6699'><b><u>{}</u></b></span>"
            }
        }
    },
    "tray": {
        "spacing": 10
    },
    "pulseaudio": {
        "format": "{icon}",
        "format-muted": "󰝟",
        "format-icons": {
            "default": ["󰕿", "󰖀", "󰕾"]
        },
        "on-click": "omarchy-launch-audio",
        "on-click-right": "pamixer -t",
        "tooltip-format": "{volume}%"
    },
    "network": {
        "format-icons": ["󰤯", "󰤟", "󰤢", "󰤥", "󰤨"],
        "format": "{icon}",
        "format-wifi": "{icon}",
        "format-ethernet": "󰀂",
        "format-disconnected": "󰤮",
        "tooltip-format-wifi": "{essid} ({frequency} GHz)\n⇣{bandwidthDownBytes}  ⇡{bandwidthUpBytes}",
        "tooltip-format-ethernet": "⇣{bandwidthDownBytes}  ⇡{bandwidthUpBytes}",
        "tooltip-format-disconnected": "Disconnected",
        "interval": 3,
        "spacing": 1,
        "on-click": "omarchy-launch-wifi"
    },
    "cpu": {
        "format": "󰻠",
        "tooltip-format": "CPU: {usage}%",
        "on-click": "omarchy-launch-or-focus-tui btop",
        "on-click-right": "alacritty"
    },
    "memory": {
        "format": "󰍛",
        "tooltip-format": "RAM: {percentage}%"
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "on-click": "tlpui",
        "format": "{icon}",
        "format-charging": "󰂄",
        "format-plugged": "󰂄",
        "format-icons": ["󰂃", "󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
        "tooltip-format": "{capacity}%"
    }
}
