@import "../omarchy/current/theme/waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: @background;
}

#custom-launcher {
    color: @foreground;
    margin: 10px 0;
    padding: 10px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  background: alpha(@foreground, 0.2)
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock {
    color: @foreground;
    font-size: 14px;
    font-weight: bold;
}

#tray,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#custom-power {
    color: @foreground;
    margin: 5px 0;
}

#battery.warning,
#battery.critical {
    color: alpha(@foreground, 0.7);
}

#custom-power {
    margin-bottom: 10px;
}

tooltip {
    background: @background;
    border: 2px solid alpha(@foreground, 0.2);
    border-radius: 10px;
    color: @foreground;
}

tooltip label {
    color: @foreground;
}
