@import "../omarchy/current/theme/waybar.css";

* {
  background: transparent;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 14px;
  color: white;
  margin: 0px 0px 0px 0px;
}

window {
  background: alpha(@background, 0.8);
  border-radius: 0px;
}

#tray menu,
tooltip {
  background: @background;
  color: @active;
  border-radius: 10px;
}

#clock,
#pulseaudio,
#workspaces,
#tray {
  border-radius: 8px;
  padding: 2px;
  margin-right: 4px;
}

#tray {
  padding: 0px 8px 0px 8px;
}

#workspaces button {
  padding: 0px;
  margin: 0;
  border-radius: 0;
  color: shade(@background, 0.8);
}

#workspaces button.urgent {
  text-decoration: underline;
  font-weight: bold;
}

#workspaces button.active {
  margin-top: 10px;
  background: shade(alpha(@foreground, 0.2), 0.8);
  color: shade(@foreground, 0.9);
  border-radius: 8px;
}

#clock {
  padding: 0px 6px 0px 6px;
}

#pulseaudio {
  color: #7aa2f7;
  padding-bottom: 10px;
  margin-top: 10px;
}

#clock {
  margin-left: 0px;
  border-radius: 0px 8px 8px 0px;
  background: alpha(@background, 0.6);
}
