# Change the default Omarchy look'n'feel

# https://wiki.hyprland.org/Configuring/Variables/#general
general {
    # No gaps between windows or borders
    {{ if .monitor.internal}}
    gaps_in = 0
    gaps_out = 0
    border_size = 0
    {{ end }}

    # Use master layout instead of dwindle
    # layout = master
}

# https://wiki.hyprland.org/Configuring/Variables/#decoration
decoration {
    # Use round window corners
    {{ if not .monitor.internal }}
    rounding = 6
    {{ end }}

    inactive_opacity = 0.99
}

# https://wiki.hypr.land/Configuring/Dwindle-Layout/
dwindle {
    # Avoid overly wide single-window layouts on wide screens
    {{ if not .monitor.internal }}
    single_window_aspect_ratio = 1 1
    {{ end }}
}
