# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors
# Format: monitor = [port], resolution, position, scale

{{ if .monitor.internal }}
env = GDK_SCALE,1
monitor=,preferred,auto,1
{{ else }}
env = GDK_SCALE,1.75
monitor=DP-3,3440x1440@144,0x0,1.33,bitdepth,10
monitor=,preferred,auto,auto
{{ end }}
