layout {

    focus-ring {
        active-color   "#555555"
        inactive-color "#d4d4d4"
        urgent-color   "#222222"
    }

    border {
        active-color   "#555555"
        inactive-color "#d4d4d4"
        urgent-color   "#222222"
    }

    shadow {
        color "#fafafa70"
    }

    tab-indicator {
        active-color   "#555555"
        inactive-color "#c69696"
        urgent-color   "#222222"
    }

    insert-hint {
        color "#55555580"
    }
}

recent-windows {
    highlight {
        active-color "#555555"
        urgent-color "#222222"
    }
}
